<% if items.empty? %>
  <p>該当する商品は見つかりませんでした。</p>
  <p>キーワードを変えてお試し下さい。</p>
  <% if scope_name == "amazon" %>
    <p><a href="https://www.amazon.co.jp/">Amazonで検索 <i class="fas fa-external-link-alt"></i></a></p>
  <% elsif scope_name == "rakuten" %>
    <p><a href="https://www.rakuten.co.jp/">楽天市場で検索 <i class="fas fa-external-link-alt"></i></a></p>
    <p><a href="https://books.rakuten.co.jp/">楽天ブックスで検索 <i class="fas fa-external-link-alt"></i></a></p>
  <% end %>
<% else %>
  <% items.each do |item| %>
    <div class="container mt-4 mb-6 box">
      <div class="row fix-height">
        <aside class="col-sm-4">
          <img class="rounded d-flex align-items-center" src="<%= item[:image_url] %>" alt="">
        </aside>
        <div class="col-sm-8 parent">
          <p><%= item[:name] %></p>
          <p>発売日 : <%= item[:sales_date] %></p>
          <div class="col-sm-12 text-center children-bottom">
            <p><font size="6" color="red"><%= item[:price] %>（税込）</font></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p><a href="<%= item[:shop_url] %>" class="col-sm-12 btn btn-primary">ショップで確認</a></p>
        </div>
      </div>
    </div>
  <% end %>    
<% end %>
