<% if items.empty? %>
  <p>該当する商品は見つかりませんでした。<br>キーワードを変えてお試し下さい。</p>
<% else %>
  <% items.each do |item| %>
    <div class="container mb-2">
      <div class="row fix-height">
        <aside class="col-sm-4">
          <img class="rounded d-flex align-items-center" src="<%= item[:image_url] %>" alt="">
        </aside>
        <div class="col-sm-8 parent">
          <p><%= item[:name] %></p>
          <p>発売日 : <%= item[:sales_date] %></p>
          <p><font color="red"><%= item[:price] %>（税込）</font></p>
          <div class="col-sm-12 children-bottom">
            <%= form_with(url: comparison_path, scope: scope_name, local: true) do |f| %>
              <%= f.hidden_field :name, :value => item[:name] %>
              <%= f.submit '商品比較', class: "col-sm-11 btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>    
<% end %>