<% if items.empty? %>
  <div class="mt-4 mb-6 not-found-box">
    <p>該当する商品は見つかりませんでした。</p>
    <p>キーワードを変えてお試し下さい。</p>
    <% if scope_name == "amazon" %>
      <p><a href="https://www.amazon.co.jp/" target="_blank">Amazonで検索 <i class="fas fa-external-link-alt"></i></a></p>
    <% elsif scope_name == "rakuten" %>
      <p><a href="https://www.rakuten.co.jp/" target="_blank">楽天市場で検索 <i class="fas fa-external-link-alt"></i></a>&nbsp;&nbsp;<a href="https://books.rakuten.co.jp/" target="_blank">楽天ブックスで検索 <i class="fas fa-external-link-alt"></i></a></p>
    <% end %>
  </div>
<% else %>
  <% items.each do |item| %>
    <div class="container mt-4 mb-6 box">
      <div class="row fix-height">
        <aside class="col-sm-4">
          <img class="rounded d-flex align-items-center" src="<%= item[:image_url] %>" alt="">
        </aside>
        <div class="col-sm-8 parent">
          <p><a href="<%= item[:shop_url] %>" target="_blank" class="text-dark u-line"><%= item[:name] %></a></p>
          <% if item[:sales_date] != nil %>
            <p>発売日 : <%= item[:sales_date] %></p>
          <% end %>
          <% if item[:price] != nil %>
            <p><font color="red"><%= item[:price] %>（税込）</font></p>
          <% else %>
            <p><font color="red">価格情報が見当たりませんでした。</font></p>
          <% end %>
          <div class="col-sm-12 children">
            <% if item[:price] != nil %>
              <%= form_with(url: comparison_path, scope: scope_name, local: true) do |f| %>
                <%= f.hidden_field :name, :value => item[:name] %>
                <%= f.submit '商品比較', class: "col-sm-11 btn btn-primary" %>
              <% end %>
            <% else %>
              <button type="button" class="col-sm-11 btn btn-primary" disabled="disabled">商品比較</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>    
<% end %>