<% if items.empty? %>
  <p>該当する商品は見つかりませんでした。</p>
<% else %>
  <% items.each do |item| %>
    <div class="row">
      <aside class="col-sm-4">
        <img class="rounded img-fluid" src="<%= item[:image_url] %>" alt="">
      </aside>
      <div class="col-sm-8">
        <p><%= item[:name] %></p>
        <p><%= item[:price] %>（税込）</p>
        <p>発売日 : <%= item[:sales_date] %></p>
        <%= form_with(url: comparison_path, scope: scope_name, local: true) do |f| %>
          <%= f.hidden_field :name, :value => item[:name] %>
          <%= f.submit '商品比較', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>    
<% end %>