<%= form_with(url: search_path, method: :get, local: true) do |f| %>
  <div class="form-group input-group row">
    <div class="input-group-prepend">
      <select class="form-control" id="category" name="category[content]">
        <% if @category == nil %>
          <% Category.all.each do |record| %>
            <% if record.code == "all" %>
              <option value="<%= record.code %>" selected="selected"><%= record.name %></option>
            <% else %>
              <option value="<%= record.code %>"><%= record.name %></option>
            <% end %>
          <% end %>
        <% else %>
          <% Category.all.each do |record| %>
            <% if record.code == @category %>
              <option value="<%= record.code %>" selected="selected"><%= record.name %></option>
            <% else %>
              <option value="<%= record.code %>"><%= record.name %></option>
            <% end %>
          <% end %>
        <% end %>
      </select>
    </div>
    <% if @trend_word == nil %>
	    <input type="text" name="search_word[content]" class="form-control" placeholder="検索キーワード入力して下さい">
    <% else %>
	    <input type="text" name="search_word[content]" class="form-control" value="<%= @trend_word %>" placeholder="検索キーワード入力して下さい" >
    <% end %>
    <div class="input-group-append">
  		<button type="submit" class="btn btn-primary search_button"><i class="fas fa-search"></i></button>
    </div>
  </div>
<% end %>