<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hikacoo</title>
    <meta name="description" content="Amazon・楽天等 通販商品の価格を比較するサイトです。">
    <%= favicon_link_tag('favicon.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116278342-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-116278342-5');
    </script>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <%= render 'layouts/header' %>
      </header>
      <div class="app ml-4 mr-4">
        <div class="container">
          <%= render 'layouts/flash_messages' %>
          <%= render 'layouts/search_description' %>
          <%= render 'layouts/searchbar' %>
          <%= render 'layouts/trend_word_list' %>
          <%= yield %>
        </div>
      </div>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>